<!DOCTYPE html>
<html>
<head>
  <title>Katrina</title>
  <%= stylesheet_link_tag    "Katrina/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Katrina/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>